<ul id="sidenav" class="nav nav-list">
    <li class="nav-header">Tutorial.js Docs</li>
    <li><a href="/">Home</a></li>
    <li><a href="/getting-started">Getting started</a></li>
    <li><a href="/options">Options</a></li>
    <li><a href="/api">API</a></li>
    <li class="nav-header">Basics</li>
    <li><a href="/basic-example">Basic example</a></li>
    <li><a href="/steps-via-object">Steps via JSON Object</a></li>
    <li><a href="/custom-position">Custom position</a></li>
    <li><a href="/progressbar">Progressbar</a></li>
    <li class="nav-header">Advanced</li>
    <li><a href="/custom-template">Custom template</a></li>
</ul>