<ul id="sidenav" class="nav nav-list affix" data-spy="affix">
    <li class="nav-header">Tutorial.js Docs</li>
    <li><a href="/">Home</a></li>
    <li><a href="/getting-started">Getting started</a></li>
    <li><a href="/options">Options</a></li>
    <li class="nav-header">Basics</li>
    <li><a href="#">Basic example</a></li>
    <li><a href="#">Media content</a></li>
    <li><a href="#">Auto position</a></li>
    <li><a href="#">Progressbar</a></li>
    <li class="nav-header">Advanced</li>
    <li><a href="#">Custom template</a></li>
</ul>