@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

html, body {
    font-size: 16px;
    padding: 0px;
    font-family:"Source Sans Pro", Arial, sans-serif;
    color:#485863;
}

body {
    margin:0px;
}

p, h1, h2, h3, h4 {
    margin: 0px;
}

h1 {
    font-size:2.3rem;
}

h1, h2, h3 {
    margin-bottom:1.5rem;
}

h2 {
    font-size:1.4rem;
    margin-top:20px;
}

p {
    font-size:1.2rem;
    margin-bottom:1.5rem;
}

pre {
    font-size:1rem;
    margin: 0px;
    padding: 20px 20px !important;
    background: #fafbfd !important;
    border: 1px solid #eceef3 !important;
}

.section {
    width: 600px;
    margin: 40px auto;
}

.center {
    text-align: center;
}

#wrapper {
    padding: 40px 0px;
}

.more-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-links a {
    color: #111;
    text-decoration: none;
    border: 1px solid #929292;
    padding: 10px 20px;
    margin: 0px 10px;
}

.more-links a:hover {
    background: #f2f2f2;
}

.more-links .fa {
    margin-right: 5px;
}

.scroll-test {
    margin-top: 100%;
}

#sidenav {
    width:100%;
    margin-bottom:40px;
    position:relative;
}

#sidenav li.nav-header {
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top:10px;
}

#sidenav li.nav-header:first-child {
    margin-top:0px;
}

#sidenav li a {
    border-bottom: 1px solid #f2f2f2;
    padding: 8px 15px;
}

#sidenav a:hover {
    background: #f9f9f9;
}

#sidenav li.active a {
    background: #53dab5;
    color: white;
}

.navbar-default {
    background-color:#53dab5;
    border-color:#53dab5;
    border-radius:0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color:white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color:white;
    background-color:rgba(255, 255, 255, 0.2);
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin:0px;
}

.navbar-nav li {
    float: left;
}

.navbar-nav,
.navbar-header {
    margin: 0px !important;
}

.navbar-nav li a {
    padding: 15px;
}

.option-wrapper {
    border-bottom:1px solid #f2f2f2;
}

.option-wrapper h4 {
    font-size:1.5rem;
    margin:1.5rem 0rem;
}

.btn-primary {
    margin: 20px 0px;
    border: 0px;
    background-color: #53dab5;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #5fe6c1;
}

@media (min-width: 992px) {
    .section {
        width:100%;
    }

    #sidenav {
        width:300px;
        margin-bottom:0px;
    }
}