<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutorial.js documentation</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/assets/dist/tutorial.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <script type="text/javascript" src="/assets/dist/tutorial.min.js" defer></script>
    <!-- <script type="text/javascript" src="/assets/js/main.js" defer></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>
<body>
{% include header.html %}
<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% include sidebar.html %}
            </div>
            <div class="col-md-8">
                {{ content }}
            </div>
        </div>
    </div>
</div>

<script>
    var url = window.location;
    $('#sidenav a[href="'+ url +'"]').parent().addClass('active');
</script>
</body>
</html>